.dashboard {
  height: 100%;
  width: 100vw;
  display: flex;
  background-color: #dddddd;
}
.dash-nav-container {
  position: absolute;
  z-index: 1;
  background: #464242;
  width: 100%;
  height: 3.5em;
  top: 0;
}
.user-welcome {
  color: white;
  position: absolute;
  top: 0;
  left: 68%;
  margin: 15px;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.logout-btn {
  position: absolute;
  right: 2em;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #94e769;
  letter-spacing: 1px;
  z-index: 3;
}
.my-teams {
  margin-top: 4em;
  height: 80vh;
  width: 20vw;
}

.side-menu {
  margin-top: 4em;
  height: 80vh;
  width: 20vw;
  left: 0;
}

.news {
  display: flex;
  border: 1px solid rgb(80, 76, 76);
  height: 28.8em;
  width: 60vw;
  overflow: scroll;
}
.nfl-pic-top {
  margin-top: 5em;
  height: 40vh;
  background-image: url("../images/111.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.my-teams-header {
  color: gray;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
  margin: 10px;
  padding: 0;
  margin-right: 10em;
}
.my-team-cards {
  margin: 20px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-cards {
  background: #464242;
  margin: 20px;
  height: 12em;
  width: 80%;
  color: white;
  border-radius: 5px;
}
.create-team-card {
  background: #464242;
  margin: 20px;
  height: 15em;
  width: 80%;
  color: white;
  border-radius: 5px;
}
.challenge-btns {
  background-color: #94e769;
  border: none;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px 40px;
  color: #464242;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 5px;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
}

.active,
.challenge-btns:hover {
  border: 1px solid grey;
}

.card-header {
  padding-top: 20px;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.card-subheader {
  margin-top: 5px;
  letter-spacing: 3px;
  font-weight: bold;
}
.dashboard-main {
  border: solid red;
}