.header-fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
    position: fixed;
    top:0;
    overflow: hidden;

}
.link-head{
    margin-left: 20em;
    justify-content: flex-end;
    margin-top: 10px;
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
    height: 20px;
    width: 20vw;
    
}