.logo-rapper {
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: scroll
  /* padding-top: 20px; */
}
.logo-rapper img {
  border-radius: 50%;
  padding: 2px;
}
.current-team {
  height: 98vh;
  width: 20vw;
  border: 1px solid red;
}
.afc-container {
  display: flex;
  height: 50vh;
  width: 50%;
  border: solid red;
}
.nfc-container {
  display: flex;
  height: 50vh;
  width: 50%;
  border: solid red;
}
.nfl-container {
  height: 100%;
  width: 100%;
  display: flex;
  border: solid black;
}
