a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.player-name {
  color: black;
}

.small-logo {
  max-width: 75px;
  max-width: 75px;
  height: auto;
  width: auto;
  margin-right: 4vw;
}
.news-btn {
  width: 15%;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #546855;
  color: white;
  font-size: 0.9em;
  letter-spacing: 1px;
  position: relative;
}
.news-btn:hover {
  border: 1px solid black;
  background-color: #84a285;
}
.news-item-top-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.news-item-headline {
  text-transform: capitalize;
}

p {
  text-align: left;
}

.news-item-time {
  margin-top: -20px;
  text-align: center;
  margin-bottom: -11px;
  border-bottom: 1px solid gray;
}

.impact {
  text-align: left;
  margin-bottom: -15px;
}

.news-text {
  width: 97%;
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.349);
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(202, 198, 198);
  height: 875px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 110px;
  left: 0%;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.835);
}
.popup\_inner {
  position: fixed;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  border-radius: 20px;
  background: white;
}

.no-popup {
  display: none;
}

.news-content {
  display: flex;
  flex-direction: column;
}

.team-logo {
  border-radius: 50%;
  margin: 11px;
  height: 100px;
  width: auto;
}

.nfl-logo {
  height: 105px;
  margin: 5px;
}

.close-button {
  margin-bottom: 20px;
}

.loading {
  color: white;
}

.player-text {
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.9);
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 300px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.new-popup {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.835);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.835);
}

.position-text {
  color: white;
}

.new-inner {
  position: static;
}

.news-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgba(160, 160, 161, 0.651);
  height: 500px;
  overflow: scroll;
  width: 45vw;
}

.video-container {
  display: flex;
  flex-direction: row;
}

.video-thumbnail {
  height: auto;
  width: auto;
  margin: 5px;
  margin-right: 10px;
  border-bottom: 1px solid gray;
}

.video-text {
  padding-right: 5px;
}

.video-container {
  display: flex;
  background-color: rgb(211, 210, 210);
  align-items: center;
  border: 1px solid gray;
}

.videos {
  overflow: scroll;
  height: 500px;
  width: 46.7vw;
}
