#bg {
background: url('https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2019/05/0/0/NFL.jpg?ve=1&tl=1'); 
background-size: cover; 
background-position:center;
}

#size {
    height: 500px;
}